example/flows_linux.localdomain.json
[{"id":"e5293b53.1df408","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f1946e8.eb90b8","type":"pond-config","name":"pond config","pondVersion":"v3","appid":"com.example.node-red","displayname":"Node Red","version":"0.0.1","signature":""},{"id":"d132e413.5f06f8","type":"inject","z":"e5293b53.1df408","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"abc","payload":"{\"eventType\":\"test\",\"name\":\"alex\",\"id\":42}","payloadType":"json","x":230,"y":280,"wires":[["e31032e21915500f"]]},{"id":"ecbc3f8b.3e44e","type":"debug","z":"e5293b53.1df408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":360,"wires":[]},{"id":"e31032e21915500f","type":"pond-emit","z":"e5293b53.1df408","name":"","pond":"8f1946e8.eb90b8","tags":"something something:{{id}}","x":450,"y":280,"wires":[["ecbc3f8b.3e44e"]]},{"id":"ddea6369e2647f6c","type":"aql-query","z":"e5293b53.1df408","name":"All Events","pond":"8f1946e8.eb90b8","aql":"FROM allEvents","x":460,"y":420,"wires":[["ecbc3f8b.3e44e"]]},{"id":"b764fa0a3a6ff8dd","type":"inject","z":"e5293b53.1df408","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"abc","payload":"{\"eventType\":\"test\",\"name\":\"alex\",\"id\":42}","payloadType":"json","x":230,"y":500,"wires":[["b7d0102d2a5e49c1"]]},{"id":"b7d0102d2a5e49c1","type":"aql-query","z":"e5293b53.1df408","name":"","pond":"8f1946e8.eb90b8","aql":"FROM allEvents FILTER _[\"eventType\"] = \"test\"","x":460,"y":500,"wires":[["5aa175f84fe353a1"]]},{"id":"5aa175f84fe353a1","type":"function","z":"e5293b53.1df408","name":"Events only","func":"msg.payload = msg.payload.filter(s => s.type === \"event\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":500,"wires":[["ecbc3f8b.3e44e"]]},{"id":"b5057f74ea1179e3","type":"actyx-fish","z":"e5293b53.1df408","name":"","fishIdType":"Counter","fishIdName":"Drone","fishIdVersion":0,"initState":"0","where":"drone","onEvent":"(state, event, metaData) => {\n  return state + 1\n}\n","syntax":"javascript","x":460,"y":340,"wires":[["1055ba29db267ee3"]]},{"id":"1055ba29db267ee3","type":"pond-observe-fish","z":"e5293b53.1df408","name":"","pond":"8f1946e8.eb90b8","x":650,"y":340,"wires":[["ecbc3f8b.3e44e"]]},{"id":"6fcf6aa6204ef3a0","type":"inject","z":"e5293b53.1df408","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"abc","payload":"{\"eventType\":\"test\",\"name\":\"alex\",\"id\":42}","payloadType":"json","x":230,"y":340,"wires":[["b5057f74ea1179e3"]]},{"id":"2ec820e476db78c9","type":"inject","z":"e5293b53.1df408","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"abc","payload":"{\"eventType\":\"test\",\"name\":\"alex\",\"id\":42}","payloadType":"json","x":230,"y":420,"wires":[["ddea6369e2647f6c"]]},{"id":"5de0bf08aee94555","type":"pond-observe","z":"e5293b53.1df408","name":"","pond":"8f1946e8.eb90b8","fishIdType":"Couter","fishIdName":"something","fishIdVersion":0,"initState":"0","where":"something","onEvent":"(state, event, metaData) => {\n  return state + 1\n}\n","syntax":"javascript","x":470,"y":580,"wires":[["ecbc3f8b.3e44e"]]}]